.ui-loader-default,
.no-print{
	display:none;
}

#browser-print-header{
	position:fixed;
	top:0;
	left:0;
	width:auto;
	height:1cm;
	text-align:center;
	display:block;
}

#browser-print-header img{
	position:relative;
	margin:auto;
	text-align:center;
}

/*PRINT FROM GAS HELIX*/
@page { margin-top:1cm; margin-bottom:1cm; margin-right:1cm; margin-left:1cm;} body { font-family:arial; margin:5pt 2pt; padding:0.1cm; border:0.5pt solid #eee; }#dynamic thead{text-align:left;}#dynamic thead th{font-size:8.5pt; padding:3pt 1pt;}#dynamic tr{font-size:9pt;padding:3pt 1pt;}#dynamic tr.even{background-color:#fcfcfc;}.s-h-b{width:65%;border:1px solid #eeeeee;margin-bottom:30pt;}#dynamic table{border:1px solid #eeeeee; overflow:hidden;}.s-h{width:auto;background-color:#f7f7f7;font-size:10pt;font-weight:bold;padding:3pt;}.s-b{width:auto;font-size:9pt;}.s-c-1{font-weight:bold;padding-left:3pt;}.s-c-2{padding-left:3pt;}.clear{clear:both;}
@media print{
	
}

/*Details Fieldset */
.gts-box fieldset{
	border: 1px solid #ddd;
	margin: 20px 0;
	padding-left: 10px;
}
.gts-box fieldset legend{
	font-weight:bold;
}
.gts-box fieldset span.value{
	width:20%;
	display:inline-block;
	line-height:1.8;
}
.gts-box fieldset span.value-double{
	width:40%;
	display:inline-block;
	line-height:1.8;
}
.gts-box fieldset span.value-1{
	display:inline-block;
	line-height:1.8;
}

.gts-box fieldset div.header-element{
	font-weight:bold;
	margin-left:40px;
	margin-top:15px;
}

.gts-box fieldset div.header-element span{
	width:20%;
	display:inline-block;
}

.gts-box table{
	width:100%;
}
.gts-box table .serial{
	width:3%;
}
.gts-box table th.width-1{
	width:20%;
	text-align:left;
}
.gts-box table th.width-2{
	text-align:left;
}


/*Total Row*/
.total-row{
	font-size:0.9em;
	font-weight:bold;
	font-style:italic;
}
/*Data Tables - Special Row Formatting*/

.special-row-formatting{
	font-weight:bold;
	font-size:0.9em;
}
.special-row-formatting-1{
	font-weight:bold;
	font-size:0.9em;
}
.special-row-formatting-not-in-budget{
	font-weight:bold;
	font-size:0.8em;
	color:#ff0000;
	text-transform:uppercase;
}

.total-budget-spending-class-style{
	font-size:0.9em;
	color:#040;
}
.total-budget-style{
	font-size:0.9em;
	color:#004;
}

/*Details Drop Down View*/
.details-section-container{
	width: 50%;
	position: relative;
	font-size: 1em;
	display: inline-block;
}
.details-section-container h4{
	font-size:0.9em;
	margin-bottom:0.2em;
	width:100%;
	position:relative;
}

/* System Generated Report Grid */

table{
	border-collapse: collapse;
}
table.main-details-table{
	margin-top:20px;
}
table.main-details-table thead th,
#dynamic table thead th{
	background-color:#f7f7f7;
	border: 1px solid #000;
}
table.main-details-table td,
#dynamic table td {
	padding: 1px 4px;
	border: 1px solid #555;
	min-width:40px;
}
table.main-details-table tr .even,
#dynamic table tr.even {
	background-color: #f7f7f7;
}
table.main-details-table tr.not-in-budget,
#dynamic table tr.not-in-budget{
	color: #b30000;
}
.numeric-data{
	display:block;
	text-align:right;
}

table tr.total-row{
	font-weight:bold;
}
table.operators_cash_calls_summary tr.total-row,
table.operators_cash_calls_summary tr th,
table.operators_cash_calls_summary tr td:nth-child(8),
table.operators_cash_calls_summary tr td:nth-child(5),
table.operators_cash_calls_summary tr td:nth-child(2),
table.operators_cash_calls_summary tr td:nth-child(1){
	background:rgb(250, 173, 74) !important;
	font-weight:bold;
}
/*PRINT FROM GAS HELIX*/