/***
Lock Page
***/
.successful-pass-code-auth{
    display:none;
}
.pass-code-auth{
    
}
.processing-pass-code-auth{
    display:none;
}
body {
	background-color: #ddd;
	padding: 0;
	margin: 0;
    overflow:hidden;
}

.page-lock {
   
   width:100%;
   /*
   margin-top: -140px;
   margin-left: -260px;
   */
}

.page-lock .page-logo {
    margin:2% 10%;
    margin-bottom:0;
    width: 80%;
}

.page-lock .page-body {	
   margin:5% 10%;
   margin-top:0;
   width: 80%;
   padding: 10px;
   background: url(../../img/bg-white-lock.png) repeat;
}

.page-lock .page-body:after,
.page-lock .page-body:before {
	display: table;
	content: "";
	line-height: 0;
}

.page-lock .page-body:after {
	clear: both;
}

.page-lock .page-footer {
   position:absolute;
   bottom:25px;
   right:15px;
   text-align: right !important;
   font-size: 12px;
   color: #eaeaea;
}

.page-lock img.page-lock-img {
	width: 100px;
	height: auto;
    border-radius:50%;
}
.center-align{
    text-align:center;
}
.page-lock .page-lock-info h1 {
	margin-top: -5px;
	font-weight: 300;
	color: #fff;
	font-size: 28px;
	line-height: 32px;
	margin-bottom: 5px;
}
.host-info > div{
    margin:10px 20px;
}
.host-info {
    font-size:1.4em;
}
.host-info label{
    color:#ddd;
}
.host-info span,
.host-info strong{
    text-transform:uppercase;
    color:#fff;
    font-weight:normal;
    text-align:right;
    float:right;
}

.info-tab .nav>li>a{
    padding-top:4.5px;
    padding-bottom:4.5px;
}
.page-lock .page-lock-info h3 {
	margin-top: 0px;
	font-weight: 300;
	color: #fff;
	font-size: 1.8em;
	line-height: 32px;
	margin-bottom: 5px;
}

.page-lock .page-lock-info .email {
	color: #eee;
	display: block;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 10px;
} 

.page-lock .page-lock-info .locked {
	color: #333;
	font-size: 14px;	
	line-height: 14px;
	font-style: normal;
}

.page-lock .page-lock-info form {
	margin: 28px auto;
}
.input-group{
    margin:0 auto;
}
#sign-in-form .input-group{
    width:80%;
    max-width:480px;
}
#sign-in-form input{
    height:62px;
    font-size:1.5em;
}
#sign-in-form .btn{
    height:62px;
    padding:17px 20px;
    font-size:1.5em;
}
.page-lock .page-lock-info input {
	background: #fff;
}

.page-lock .relogin {
	margin-top: 10px;
}

.page-lock .relogin a {
	color: #e1e1e1;
}
.details-1{
    font-size:1.4em;
    color:#eee;
    padding-top:8px;
    padding-bottom:8px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.chats li {
    padding:5px;
}

.dashboard-stat .more{
    font-size:0.7em;
    padding-left:2px;
    padding-right:2px;
}
/*Responsive*/
@media (max-width: 768px) {
	
	.page-lock .page-body {	
		padding: 10px;
	    text-align: center;	
		width: 80%;
	}
    
	.page-lock img.page-lock-img {
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 15px;
	}
	.page-lock .page-lock-info {
		float: none !important;
		margin: 0 auto;
	}

}